$white: #ffffff;
$black: #000000;
$primary: #7ee989;
$secondary: #2e3a59;
$gray: #4a4a4a;
$dark: #242424;
$danger: #ff5c58;
$warning: #fda65d;
$disabled: #c4c4c4;
$tableBorder: #929292;
$tableHeaderText: #58627a;
